manifest {
	homepage = 'http://tychus.readthedocs.io/en/latest/'
	description = 'Tool for the assembly, annotation, and phylogenetic inference of a large number of WGS isolates'
}

profiles {
	alignment {
		includeConfig 'conf/alignment.config'
	}

	assembly {
		includeConfig 'conf/assembly.config'
	}
}
