manifest {
	homepage = 'http://tychus.readthedocs.io/en/latest/'
	description = 'Tool for the assembly, annotation, and phylogenetic inference of a large number of WGS isolates'
}

profiles {
	alignment {
		includeConfig 'conf/alignment.config'

		env {
			TRIMMOMATIC='/opt/Trimmomatic-0.36'
			KSNP3='/usr/local/kSNP3'
			FIGTREE='/opt/figtree/lib'
		}
	}

	assembly {
		includeConfig 'conf/assembly.config'

		env {
			TRIMMOMATIC='/opt/Trimmomatic-0.36'
			CISA='/opt/CISA1.2'
		}
	}
}
